# Ignore Mac system files
.DS_store

# Ignore output directory
output

# Ignore VS Code directory
.vscode

# Ignore all EPUB files
*.epub

# Ignore all HTML files
*.html

# Ignore notes

notes.md

# Ignore gemfiles
gemfile
Gemfile.lock